<div class="first-page-container">
  <div class="photo-hugo">
    <div class="photo-hugo_peel_off"></div>
  </div>
  <div class="words-hugo">
  <h1>Ensemble, <br> concrétisez vos visions, <br>réussissez vos projets.</h1>
  <h4>Hugo ROBERT</h4>
  </div>
</div>

<div class="projects-page-container">
  <div class="projects-pro-container" id="projects_pro">
    <div class="projects-text" >
      <h2>Projets professionnels</h2>
      <p>Découvrez mon parcours jalonné de projets captivants et enrichissants, où j'ai pu mettre en œuvre mon expertise pour aider mes clients à réaliser leurs ambitions.</p>    </div>
    <div class="projects-cards">
      <% @proprojects.each do |proproject| %>
        <%= link_to "#{project_path(proproject)}#top" do %>
          <div class="<%= proproject.date > Date.current ? 'project-card project-card_futur' : 'project-card' %>">
            <div class="card-firsthalf">
              <h3><%= proproject.name %></h3>
              <p><%= proproject.description %></p>
            </div>
            <div class="card-secondhalf">
              <div class="card-icon">
                <i class="fa-brands fa-github"></i>
              </div>
              <div class="card-photo" style="background-image: url(<%= proproject.photo %>);">
              </div>
              <div class="card-miscelanous">
                <p><%= proproject.date %></p>
                <p><%= proproject.importance %>/<%= @proprojects.count %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="projects-perso-container" id="projects_perso">
    <div class="projects-cards">
      <% @persoprojects.each do |persoproject| %>
        <%= link_to "#{project_path(persoproject)}#top" do %>
          <div class="<%= persoproject.date > Date.current ? 'project-card project-card_futur' : 'project-card' %>">
            <div class="card-firsthalf">
              <h3><%= persoproject.name %></h3>
              <p><%= persoproject.description %></p>
            </div>
            <div class="card-secondhalf">
              <div class="card-icon">
                <i class="fa-brands fa-github"></i>
              </div>
              <div class="card-photo" style="background-image: url(<%= persoproject.photo %>);">
              </div>
              <div class="card-miscelanous">
                <p><%= persoproject.date %></p>
                <p><%= persoproject.importance %>/<%= @persoprojects.count %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="projects-text">
      <h2>Projets Personnels</h2>
      <p>Mes projets personnels reflètent mon engagement à développer constamment mes compétences, explorer de nouveaux domaines du code et repousser les limites de ma créativité pour offrir des solutions toujours plus innovantes et efficaces.</p>    </div>
    </div>
  </div>
</div>


<div class="cv-page-container">
  <div class="photo-contacts">
    <div class="photo">
    </div>
    <div class="contacts">
      <div class="contacts-icons">
      <%= link_to "https://github.com/Threbor", target:"_blank" do %>
        <i class="fa-brands fa-github"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/hugo-robert-devfullstack", target:"_blank" do %>
        <i class="fa-brands fa-linkedin-in"></i>
      <% end %>
      </div>
      <div class="contacts-text">
        <h3><i class="fa-solid fa-envelope-open-text"></i> Contactez-moi dès maintenant </h3>
        <p>Confiez-moi vos idées et besoins, et concrétisons ensemble votre vision. Discutons rapidement de la manière dont je peux vous aider et bénéficier d'un accompagnement personnalisé.</p>
      </div>
    </div>
  </div>
  <div class="cv">
    <div class="containter_cv">
      <div class="cv-title">
        <h1>Développeur Full-Stack</h1>
        <h2>Ruby on Rails</h2>
      </div>
      <div class="cv-text">
        <h4>Boot camp Le Wagon</h4>
        <h6>Janv 2023 - Mars 2023 - 9 semaines, Nantes</h6>
        <ul>
          <li>Pratique des langages Ruby, HTML, CSS, JavaScript</li>
          <li>Réalisations des Projets des applications Swappy et Exeptions sur le Framework Rails</li>
          <li>Gestion des bases de données avec MySQL, PostgreSQL</li>
          <li>Conception création de l'applicaitpon Swappy</li>
          <li>Conception création du sit web Exeptions</li>
        </ul>
      </div>
      <div class="cv-text">
        <h3>Expériences Juridiques</h3>
        <h4>Appui à l’animation territoriale sur les politiques publiques de l’Etat (en alternance)</h4>
        <h5>Préfecture de Loire-Atlantique - Pole politiques publiques</h5>
        <h6>Oct 2021 - Sep 2022 - 11 mois, Nantes</h6>
        <ul>
          <li>Expertise et conseils juridiques, suivi des politiques publique et soutient à l’organisation.</li>
        </ul>
      </div>
      <div class="cv-text">
        <h4>Chargé de mission, Ressources, Dettes et Trésorerie</h4>
        <h5>Région Normandie - Direction des finances et de l’appui au pilotage</h5>
        <h6>Avr 2021 - Sep 2022 - 6 mois (2 mois en stage 4 en CDD), Rouen</h6>
        <ul>
          <li>Elaboration de plans prévisionnels de trésorerie, suivi des recettes de la Région, préparation budgétaire (2Mds€).</li>
        </ul>
      </div>
      <div class="cv-text">
        <h3>Expériences associatives</h3>
        <h4>Sauveteur en mer (SNSM)</h4>
        <h6>2017 -  2020 - 3 ans</h6>
        <ul>
          <li>Saisons et interventions bénévoles.</li>
        </ul>
      </div>
      <div class="cv-text">
        <h4>Culture off/on, président et co-fondateur</h4>
        <h6>2019 -  2023 - 4 ans</h6>
        <ul>
          <li>Réunions hebdomadaires et débats sur des sujets culturels.</li>
          <li>Récoltes d'expériences personnelles culturelles</li>
        </ul>
      </div>
      <div class="cv-text">
        <h3>Education</h3>
        <h4>Master 2 Droit Public - Droit des Collectivités territoriales (en alternance)</h4>
        <h5>Nantes Université</h5>
        <h6>2021 - 2022, Nantes</h6>
      </div>
      <div class="cv-text">
        <h4>Master 1 Droit Public - Carrières et Management Public</h4>
        <h5>Institut de Préparation à l’Adminstration Générale de Nantes</h5>
        <h6>2020 - 2021, Nantes</h6>
      </div>
      <div class="icon-download">
        <%= link_to ('https://drive.google.com/file/d/1frmtOlmWkujaIgKt0H1rcj5iASL3InSl/view?usp=sharing'), target:'_blank' do %>
          <i class="fa-solid fa-download"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
